body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 30px;
}

.heading-primary {
  display: block;
  color: $color-gray-white;
  text-transform: capitalize;
  backface-visibility: visible;
  margin-bottom: 90px;

  &--main {
    /* display: block; */
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 5s;
    animation-timing-function: ease-out;
  }

  &--sub {
    /* display: block; */
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 15px;
    animation: moveInRight 5s ease-out;
  }
}
